# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
.venv311/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Streamlit cache
.streamlit/

# Model cache
*.ckpt

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini